.diatitle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.diatitle button {
    width: 13%;
    height: 5vh;
    border: none;
    font-size: 11px;
    color: red;
    cursor: pointer;
}

.diatitle button:hover {
    color: rgb(196, 11, 72);
}
